<!DOCTYPE html>
<!-- Arduino -->
<html lang="en">
<head><% include ../core/head %></head>
<body>
  <header><% include ../core/header %></header>
  <main>
    <div class="container-full-bg"><%include ../elems/jumbotron %></div>
    <div class="container-fluid" style="margin-bottom: 2rem; margin-top: 2rem;">
      <div class="card-columns">
        <div class="card">
          <img class="card-img-top img-fluid" src="" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="card-block card-blockquote">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Integer posuere erat a ante.
            </p>
            <footer>
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">
              This card has supporting text below as a
              natural lead-in to additional content.
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card card-inverse card-primary p-3 text-center">
          <blockquote class="card-blockquote">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Integer posuere erat.
            </p>
            <footer>
              <small>
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">
              This card has supporting text below as a
              natural lead-in to additional content.
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img img-fluid" src="" alt="Card image">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="card-blockquote">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Integer posuere erat a ante.
            </p>
            <footer>
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer><% include ../core/footer %></footer>
</body>
</html>
