<!DOCTYPE html>
<!-- views/pages/index.ejs -->
<html lang="en">
<head><% include ../core/head %></head>
<body>
  <header>
    <% include ../core/header %>
  </header>
  <main>
    <div class="container-full-bg">
      <%include ../elems/jumbotron %>
    </div>
    <div class="container-fluid" style="margin-bottom: 2rem; margin-top: 2rem;">
      <div class="card-deck">
        <% include index-cards.ejs %>
      </div>
    </div>
  </main>
  <footer><% include ../core/footer %></footer>
</body>
</html>
