<div class="card">
  <img class="card-img-top img-fluid" src="images/bluematerial-slidetpl.jpg" alt="Card image cap">
  <div class="card-block">
    <button class="btn btn-secondary btn-lg btn-block"><span class="lnr lnr-magic-wand"></span>
      Front Office
    </button>
    <div class="card-header">
      <ul class="nav nav-pills nav-fill">
        <li class="active nav-item">
          <a class="nav-link" data-toggle="tab" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu3">Menu 3</a>
        </li>
      </ul>
    </div>
    <div class="tab-content card-body">
      <div id="home" class="tab-pane fade active visible">
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>
        </p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="menu3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>

  </div>
</div>

<div class="card">
  <img class="card-img-top img-fluid" src="images/blackmaterial-slidetpl.png" alt="Card image cap">
  <div class="card-block">
    <button id="refreshsocket" class="btn btn-danger btn-lg btn-block"><span class="lnr lnr-power-switch"></span>
      Admin Sys
    </button>
    <% include ../apps/chatbox %>
  </div>
</div>

<div class="card">
  <img class="card-img-top img-fluid" src="images/redmaterial-slidetpl.jpg" alt="Card image cap">
  <div class="card-block">
    <button class="btn btn-dark btn-lg btn-block">
      <span class="lnr lnr-bug"></span>
      Back Office
    </button>
  </div>
</div>
