<!DOCTYPE html>
<!-- views/pages/users.ejs -->
<html lang="en">
<head><% include ../core/head %></head>
<body>
  <header><% include ../core/header %></header>
  <main>
    <h1 style="color: white;">OK</h1>
  </main>
  <footer><% include ../core/footer %></footer>
</body>
</html>
