<div class="jumbotron">
  <h1 style="color: white;"><span class="lnr lnr-laptop"></span>
    This is great time to work on <b><%= title %></b> 
  </h1>
  <div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block img-fluid" src="" alt="be ready">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="" alt="hot coffee">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="" alt="Hayyyy !">
      </div>
    </div>
  </div>
</div>
