<div class="container-fluid chat-box">
  <div id="chat">
    <div id="messages" class="form-group">
      <div id="nicknames" class="container-fluid">
        <h3 class='card-header'>Onlines :</h3>
      </div>
      <div id="content" class="container-fluid" style="overflow:scroll; height:250px;">
        <div id="lines"></div>
      </div>
    </div>
    <div id="nickname">
      <form id="set-nickname" class="wrap">
        <input type="text" class="form-control" placeholder="JohnDoe" id="nick">
      </form>
    </div>
    <form id="send-message">
      <input type="text" class="form-control" placeholder="..." id="message">
      <button type="btn">Send</button>
    </form>
  </div>
</div>
