<!-- views/partials/footer.ejs -->
<nav aria-label="Page navigation" style="padding: 20px;">
  <ul class="pagination justify-content-center">
    <li class="page-item text-muted">© Copyright 2017/2018 The Epi-Coder's </a>
    </li>
  </ul>
</nav>
<!-- Scripst lib -->
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- Websocket In page Functions -->
<script src="javascripts/episocket.js" type="application/javascript"></script>
<!-- Popperjs as Bootstrap dep -->
<script src="javascripts/popper.min.js" type="application/javascript"></script>
<!-- Bootstrap V4 Beta 002-->
<script src="javascripts/bootstrap.min.js" type="application/javascript"></script>
