<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://dashboard.epi-hash.us">
    <span class="lnr lnr-mustache"></span>
    Epi-Hash IOT
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><span class="lnr lnr-eye"></span>
          Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/arduino"><span class="lnr lnr-rocket"></span>
          Arduino-CTrl
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://bitbucket.org/Bender_Jr/srcs.epi-hash.us/src">
          <span class="lnr lnr-briefcase"></span>
          Features-Repo
        </a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search">
  </form>
</nav>
